@import url(../../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css);
.grid-container {
  display: grid;
  grid-template-areas: "header header" "side content" "footer footer";
  grid-template-rows: 70px 1fr 70px;
  grid-template-columns: 15% 1fr;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  height: 100vh;
  margin: 0;
  background: white; }

#pageHeader {
  grid-area: header; }

#pageFooter {
  grid-area: footer; }

#content {
  grid-area: content; }

#side {
  grid-area: side; }

/* Stack the layout on small devices/viewports. */
@media all and (max-width: 575px) {
  .grid-container {
    grid-template-areas: "header" "side" "content" "footer";
    grid-template-rows: 80px 1fr 1fr 70px;
    grid-template-columns: 1fr; } }

body .mat-card {
  padding: 0px; }

.sidebar .mat-list-item {
  background-color: #f5f5f5;
  border-bottom: #5f5f5f solid 1px; }

.sidebar .mat-list-item:last-child {
  border-bottom-style: none; }

.sidebar .mat-subheader {
  background-color: #673ab7;
  color: #f5f5f5; }
