.grid-container {
  display: grid;
  grid-template-areas:
    "header header"
    "side content"
    "footer footer";
  grid-template-rows: 70px 1fr 70px;
  grid-template-columns: 15% 1fr;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  height: 100vh;
  margin: 0;
  background: white;
}
header, footer, article, nav, div {
  //background: yellowgreen;
}
#pageHeader {
  grid-area: header;
}
#pageFooter {
  grid-area: footer;
}
#content {
  grid-area: content;
}
#side {
  grid-area: side;
}
/* Stack the layout on small devices/viewports. */
@media all and (max-width: 575px) {
  .grid-container {
    grid-template-areas:
      "header"
      "side"
      "content"
      "footer";
    grid-template-rows: 80px 1fr 1fr 70px;
    grid-template-columns: 1fr;
  }
}
