@import "../../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "grid";
body{
  .mat-card{
    padding: 0px;
  }
}
.sidebar {
  .mat-list-item{
    background-color: #f5f5f5;
    border-bottom: #5f5f5f solid 1px;
  }
  .mat-list-item:last-child{
    border-bottom-style: none;
  }
  .mat-subheader{
    background-color: #673ab7;
    color: #f5f5f5;
  }
}
